name: Pac-Man Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"  # Runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Platane/pacman@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          output: ./output/pacman-contribution-graph.svg
